/* COMMON SHARED STYLE CODE */
.body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.primary-color {
    color: #F00;
}

/* BANNER STYLE START FROM HERE */

.banner-container {
    max-width: 1320px;
    margin: 0 auto;
}

.banner {
    background-image: url(../images/Banner-Image.png);
    border-radius: 16px;
    height: 600px;
    width: 1320px;
}

.banner-content {
    padding-top: 150px;
    /* ekhane kaj korte hobe */
}

.banner-text-one {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    /* padding-top:177px; */

}

.banner-text-two {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* padding-top: 233px; */

}

/* DISCOUNT SECTION STYLE START FROM HERE */

.discount-container {
    margin-top: 120px;
    text-align: center;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 44px;
}

.text-deal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.text-catego {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: -15px;
}

.dis-img {
    width: 800px;
    height: 500px;
}

/* WELCOME TO NIGHT PARTY SECTION STYLE START FROM HERE */
.wlcm-nt-party {
    background-image: url(../images/Vectorrr.png);
    /* EKHANE LENIRAR GRADIENT KAJ KORE KENO BUJHTE PARCHI NA.. */
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 120px;
}

.wlcm-nt-party .wlcm-container {
    display: flex;
    padding: 126px;
    gap: 30px;


}

.wlcm-nt-left .wlcm-nt-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.wlcm-nt-left .wlcm-nt-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.wlcm-nt-left .join-party {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;

}

.wlcm-nt-left .join-button {
    background-color: red;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    border: none;
}

.wlcm-nt-right .hny-24 {
    margin: -50px 50px 0 0;
}


/* PARTY JOINING DATE PLACE INFO SECTION */
.party-location-info {
    width: 1320px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
    border-radius: 16px;
    background-color: rgba(188, 143, 143, 0.218);
    /* linear kaj kore nai tai eita use korchi color */

}

.party-info-container {
    text-align: center;
    padding: 100px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.party-location-info *h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.party-location-info .gbl-color {
    color: #F00;

}

.party-location-info .join-button {

    background-color: red;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    border: none;

}


/* COMING SOON BEST OFFER SECTION */
.coming-soon-container {
    width: 1320px;
    display: flex;
    margin: 120px auto;
    gap: 120px;

}

.new-offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}

.coming-soon-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: -15px;
    text-transform: capitalize;
}


.coming-soon-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: -20px;
}

.middle-soon img {
    border-radius: 463px;
    border: 15px solid #F00;
}

.right-soon-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.right-soon-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;


}

/* WHAT IS HOLIDAY SECTION STYLE START FROM HERE */
.what-is-func {
    margin-top: 120px;
}

.what-is-content {
    text-align: center;
}

.holiday-text {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.holiday-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;


}

.holiday-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: -10px;
    /* 160% */
}

/* AWESOME PORTFOLIO SECTION START */
.awesome-port {
    margin-top: 120px;
}

.awesome-container {
    width: 1320px;
    margin: auto;
}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.awesome-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: -15px;
    text-transform: capitalize;
}

.awesome-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: -20px;

    /* 160% */
}


/* AWESOME BOTTOM */
.top-grid,
.bottom-grid {
    display: flex;
    gap: 20px;
    justify-content: center;


}

.bottom-grid {
    margin-top: 10px;
}

/* sdasdhsajdhsadhsa */
.subs-container {
    width: 1320px;
    height: 616px;
    margin: auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}


.subs {
    margin-top: 120px;
    text-align: center;
}

.subs-top {
    padding-top: 80px;
}

.email {
    width: 400px;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 30px;

}

.submit {
    border: none;
    background-color: red;
    border-radius: 0 50px 50px 0;
    padding: 30px;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight:600;
    text-transform: capitalize;
}
